In [1]:
import os
import requests
import pandas as pd
import io
import csv

In [3]:
path = '/opt/data/GIS-Census/florida/SoE-Voters'
# filename = path + '/SoE-voters.pre-2024-12-19.csv'
filename = path + '/soe-test.csv'

df_sow_raw = pd.read_csv(filename, sep=',', engine='python')
df_sow_raw

,VoterID,Voter_Name,Last_Name,First_Name,Middle_Name,Name_Style,Formatted_Address,City_State,Zip_Country,Residence_Address,...,2017 Atlantic Beach Primary(Aug/29/2017),2016 General Election(Nov/08/2016),2016 Primary Election(Aug/30/2016),2016 Pres Preference Primary(Mar/15/2016),Politics,Gender,Age,2024 Voting,2020 Voting,Voting Record
0,125546137,"A Hakam, Fatimah Z",A Hakam,Fatimah,Zahra,NaN,7528 Arlington Exp APT 1001,Jacksonville FL,32211,7528 Arlington Exp APT 1001,...,NaN,NaN,NaN,NaN,NPA,Female+,GenX&Y,Yes,Yes,20&24
1,129164975,"A'Hearn, Matthew B",A'Hearn,Matthew,Brian,NaN,10348 Meadow Pointe Dr,Jacksonville FL,32221,10348 Meadow Pointe Dr,...,NaN,NaN,NaN,NaN,NPA,Male,GenZ,Yes,Problem,2024 only
2,122280267,"Aadimoolam, Namitha",Aadimoolam,Namitha,NaN,NaN,5415 THOMPSON RD APT A,COLUMBUS OH,43230-3083,7800 Point Meadows Dr APT 127,...,X,E,N,X,NPA,Female+,GenX&Y,No,No,No
3,120355826,"Aafif, Abdelmjid",Aafif,Abdelmjid,NaN,NaN,3737 St Johns Bluff Rd S APT 1414,Jacksonville FL,32224,3737 St Johns Bluff Rd S APT 1414,...,X,N,N,X,NPA,Male,GenX&Y,No,Yes,No
4,121960167,"Aakhus, Pamela",Aakhus,Pamela,NaN,NaN,10733 SEDALIA CIR,COMMERCE CITY CO,80022-2547,6419 Autumn Berry Cir,...,X,N,N,N,DEM,Female+,Seniors,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,132032376,"Abadias, Xiomara",Abadias,Xiomara,NaN,NaN,252 E 3rd St,Jacksonville FL,32206,252 E 3rd St,...,NaN,NaN,NaN,NaN,DEM,Female+,GenX&Y,Yes,Yes,20&24
95,122776586,"Abadie, Alemania",Abadie,Alemania,NaN,NaN,4018 COG HILL Ct,Jacksonville FL,32225,4018 COG HILL Ct,...,NaN,N,N,N,NPA,Female+,Seniors,No,No,No
96,131758323,"Abadie-Mendia, Myrna G",Abadie-Mendia,Myrna,Gertrude,NaN,14510 Marsh View Dr,Jacksonville Beach FL,32250,14510 Marsh View Dr,...,NaN,NaN,NaN,NaN,REP,Female+,GenX&Y,Yes,Yes,20&24
97,128977126,"Abadilla, John Daryl M",Abadilla,John Daryl,Mabatid,NaN,12120 Calais St,Jacksonville FL,32224,12120 Calais St,...,NaN,NaN,NaN,NaN,REP,Male,GenZ,Yes,Yes,20&24
98,132047221,"Abadilla, Kenny IM",Abadilla,Kenny,Ian Mabatid,NaN,10540 VILLA BONITA,SPRING VALLEY CA,91978,12120 Calais St,...,NaN,NaN,NaN,NaN,DEM,Male,GenX&Y,No,Yes,No

In [4]:
# import os
# # Get the current working directory
# current_directory = os.getcwd()
#
# print(current_directory)
# df_sow_raw = df_sow_raw.dropna(how='any')#

In [5]:
df_sow_raw['City'] =  df_sow_raw['City_State'].str.rsplit(' ', n=1).str.get(0)
df_sow_raw['State'] = 'FL'

In [6]:
df_sow_raw.head()

,VoterID,Voter_Name,Last_Name,First_Name,Middle_Name,Name_Style,Formatted_Address,City_State,Zip_Country,Residence_Address,...,2016 Primary Election(Aug/30/2016),2016 Pres Preference Primary(Mar/15/2016),Politics,Gender,Age,2024 Voting,2020 Voting,Voting Record,City,State
0,125546137,"A Hakam, Fatimah Z",A Hakam,Fatimah,Zahra,NaN,7528 Arlington Exp APT 1001,Jacksonville FL,32211,7528 Arlington Exp APT 1001,...,NaN,NaN,NPA,Female+,GenX&Y,Yes,Yes,20&24,Jacksonville,FL
1,129164975,"A'Hearn, Matthew B",A'Hearn,Matthew,Brian,NaN,10348 Meadow Pointe Dr,Jacksonville FL,32221,10348 Meadow Pointe Dr,...,NaN,NaN,NPA,Male,GenZ,Yes,Problem,2024 only,Jacksonville,FL
2,122280267,"Aadimoolam, Namitha",Aadimoolam,Namitha,NaN,NaN,5415 THOMPSON RD APT A,COLUMBUS OH,43230-3083,7800 Point Meadows Dr APT 127,...,N,X,NPA,Female+,GenX&Y,No,No,No,COLUMBUS,FL
3,120355826,"Aafif, Abdelmjid",Aafif,Abdelmjid,NaN,NaN,3737 St Johns Bluff Rd S APT 1414,Jacksonville FL,32224,3737 St Johns Bluff Rd S APT 1414,...,N,X,NPA,Male,GenX&Y,No,Yes,No,Jacksonville,FL
4,121960167,"Aakhus, Pamela",Aakhus,Pamela,NaN,NaN,10733 SEDALIA CIR,COMMERCE CITY CO,80022-2547,6419 Autumn Berry Cir,...,N,N,DEM,Female+,Seniors,No,No,No,COMMERCE CITY,FL

In [7]:
# Unique ID, Street address, City, State, ZIP
df_addresses = df_sow_raw.filter(items=['VoterID', 'Residence_Address', 'City', 'State', 'Zip_Country'])

In [8]:
df_addresses.head()

,VoterID,Residence_Address,City,State,Zip_Country
0,125546137,7528 Arlington Exp APT 1001,Jacksonville,FL,32211
1,129164975,10348 Meadow Pointe Dr,Jacksonville,FL,32221
2,122280267,7800 Point Meadows Dr APT 127,COLUMBUS,FL,43230-3083
3,120355826,3737 St Johns Bluff Rd S APT 1414,Jacksonville,FL,32224
4,121960167,6419 Autumn Berry Cir,COMMERCE CITY,FL,80022-2547

In [9]:
url = 'https://geocoding.geo.census.gov/geocoder/geographies/addressbatch'
payload = {'benchmark':'Public_AR_Current','vintage':'Current_Current'}

In [ ]:
batch_size = 1000
# batch_size = 10
print(f"Batch size: {batch_size}")

## Create new/blank dataframe to populate

In [11]:
dfCensusResults = pd.DataFrame()

## Process input records
**Note:** this might need to be refactored, not sure the writing to filesystem makes sense

In [12]:
# Census limited to 10,000 records per batch geocoding, 10k records takes a minute or more to respond, so batches of 1000 or so might make sense
for i in range(0, len(df_addresses), batch_size):
    df_address_chunk = df_addresses[i:i + batch_size]
    # hacky attempt at caching requests, not trust-worthy code here, refactor or remove
    address_chunk_name = f"{path}/district_addresses-{i}.csv"
    print(f"{i}) Process batch: ({address_chunk_name}")
    if(os.path.exists(address_chunk_name)):
        # df_address_chunk = pd.read_csv(address_chunk_name, sep=',', header=None)
        print(f"{i}) Source Chunk File exists:{address_chunk_name}")
    else:
        print(f"{i}) Write address chunk:", address_chunk_name)
        df_address_chunk.to_csv(address_chunk_name, index=False, header=False)

    response_chunk_name = f"{path}/district_responses-{i}.csv"
    if(os.path.exists(response_chunk_name)):
        # df_response_chunk = pd.read_csv(response_chunk_name, sep=',', header=None)
        print(f"{i}) RESPONSE chunk File exists:{address_chunk_name}")
    else:
        print(f"{i}) Prepare to write response chunk:{response_chunk_name} from address file: {address_chunk_name}")
        files = {'addressFile': (filename, open(address_chunk_name, 'r'), 'text/csv')}
        s = requests.post(url, files=files, data=payload, timeout=None)
        print("\t\tGot reponse from Census API")
        response_chunk_file = open(response_chunk_name, 'wb')
        response_chunk_file.write(s.content)
        response_chunk_file.close()
        # raw_file = open(f"raw_file-{i}.csv", 'rb+')
        df_response_chunk = pd.read_csv(raw_file, sep=',', header=None)

    dfCensusResults = dfCensusResults.append(response_chunk, ignore_index=True)
    # out_results = f"district-census-{i}.csv"
    # dfCensusResults.to_csv(out_name, index=False)

0) Process batch: (/opt/data/GIS-Census/florida/SoE-Voters/district_addresses-0.csv
0) Write address chunk: /opt/data/GIS-Census/florida/SoE-Voters/district_addresses-0.csv
0) Prepare to write response chunk:/opt/data/GIS-Census/florida/SoE-Voters/district_responses-0.csv from address file: /opt/data/GIS-Census/florida/SoE-Voters/district_addresses-0.csv
		Got reponse from Census API

# Leftover code below...
delete it...?

In [13]:
dfCensusResults.head()

Empty DataFrame
Columns: []
Index: []

In [14]:
dfCensusResults.dtypes

Series([], dtype: object)

In [ ]:
dfCensusResults.columns = ['id', 'ADDRESS_IN', 'MATCH_INDICATOR', 'MATCH_TYPE', 'ADDRESS_OUT', 'LONG_LAT', 'TIGER_EDGE', 'STREET_SIDE', 'FIPS_STATE', 'FIPS_COUNTY', 'CENSUS_TRACT', 'CENSUS_BLOCK']

In [ ]:
# dfCensus1 = dfCensusResults.loc[dfCensusResults['ADDRESS_IN'].str.contains('95 Jardin')]
# dfCensus1.head()

In [ ]:
hot_dems_file = 'hot-dems.csv'
dfHotDems = pd.read_csv(hot_dems_file, sep=',', quoting=csv.QUOTE_ALL)
dfHotDems.head(10)

In [ ]:
dfHotDems.dtypes

In [ ]:
# dfHotDems1 = dfHotDems.loc[dfHotDems['Address'].str.contains('95 Jardin')]
# dfHotDems1.head(10)

In [ ]:
dfCombined = dfCensusResults.join(dfHotDems, on='id', how='left', lsuffix='_left', rsuffix='_right')

In [ ]:
dfCombined.dtypes

In [ ]:
dfCombined.head()

In [ ]:
# dfCombined1 = dfCensusResults.join(dfHotDems, on='id')

In [ ]:
# dfCombined1.head()

In [ ]:
# dfCombined2 = dfCensusResults.merge(dfHotDems)

In [ ]:
# dfCombined2.head()

In [ ]:
dfCombined.to_csv('combined.csv')