In [1]:
import os
import requests
import pandas as pd
import io
import csv
import glob

In [2]:
path = '/opt/data/GIS-Census/florida'
# files = glob.glob(f"{path}/district_responses-*.csv")
files = glob.glob(f"{path}/data_result_*.csv")

In [3]:
df_geocoded = []
for f in files:
    print(f"File: {f}")
    csv = pd.read_csv(f, header=None, on_bad_lines='skip')
    df_geocoded.append(csv)
df_geocoded = pd.concat(df_geocoded)

File: /opt/data/GIS-Census/florida/data_result_7.csv
File: /opt/data/GIS-Census/florida/data_result_16.csv
File: /opt/data/GIS-Census/florida/data_result_12.csv
File: /opt/data/GIS-Census/florida/data_result_9.csv
File: /opt/data/GIS-Census/florida/data_result_4.csv
File: /opt/data/GIS-Census/florida/data_result_15.csv
File: /opt/data/GIS-Census/florida/data_result_13.csv
File: /opt/data/GIS-Census/florida/data_result_20.csv
File: /opt/data/GIS-Census/florida/data_result_10.csv
File: /opt/data/GIS-Census/florida/data_result_1.csv
File: /opt/data/GIS-Census/florida/data_result_6.csv
File: /opt/data/GIS-Census/florida/data_result_19.csv
File: /opt/data/GIS-Census/florida/data_result_17.csv
File: /opt/data/GIS-Census/florida/data_result_14.csv
File: /opt/data/GIS-Census/florida/data_result_2.csv
File: /opt/data/GIS-Census/florida/data_result_5.csv
File: /opt/data/GIS-Census/florida/data_result_18.csv
File: /opt/data/GIS-Census/florida/data_result_11.csv
File: /opt/data/GIS-Census/florida/data_result_8.csv

In [4]:
df_geocoded.columns = ['VoterID', 'ADDRESS_IN', 'MATCH_INDICATOR', 'MATCH_TYPE', 'ADDRESS_OUT', 'LONG_LAT', 'TIGER_EDGE', 'STREET_SIDE', 'FIPS_STATE', 'FIPS_COUNTY', 'CENSUS_TRACT', 'CENSUS_BLOCK']
df_geocoded.shape

(70255, 12)

In [5]:
df_geocoded.head()

,VoterID,ADDRESS_IN,MATCH_INDICATOR,MATCH_TYPE,ADDRESS_OUT,LONG_LAT,TIGER_EDGE,STREET_SIDE,FIPS_STATE,FIPS_COUNTY,CENSUS_TRACT,CENSUS_BLOCK
0,128617693,"105 E Monroe St, Jacksonville, FL, 32202",Match,Exact,"105 E MONROE ST, JACKSONVILLE, FL, 32202","-81.65596899413345,30.328271922945476",83899807.0,L,12.0,31.0,17200.0,1029.0
1,108044905,"10544 Scott Mill Rd, Jacksonville, FL, 32257-6263",Match,Non_Exact,"10544 SCOTT MILL RD, JACKSONVILLE, FL, 32257","-81.63454445810277,30.18478025272549",646913452.0,R,12.0,31.0,16711.0,1015.0
2,124841647,"9411 Osprey Branch Trl UNIT 2, Jacksonville, F...",Match,Non_Exact,"9411 OSPREY BRANCH TL, JACKSONVILLE, FL, 32257","-81.60606687767074,30.208006490255684",650063020.0,R,12.0,31.0,16724.0,2000.0
3,108006633,"11501 Old St Augustine Rd APT 46, Jacksonville...",Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,114453688,"5137 Oak Bend Ave, Jacksonville, FL, 32257",Match,Exact,"5137 OAK BEND AVE, JACKSONVILLE, FL, 32257","-81.57833794381423,30.20183078417",653834762.0,L,12.0,31.0,16730.0,2001.0

In [13]:
# Unique ID, Street address, City, State, ZIP
# soe_file = f"{path}/SoE-full.csv"
# soe_file = f"{path}/John_OConeco_original_less_history.csv"
soe_file = f"{path}/census-post-matching2.csv"
df_soe = pd.read_csv(soe_file, low_memory=False)

In [14]:
df_soe.head()

,VoterID,Voter_Name,Last_Name,First_Name,Middle_Name,Name_Style,Formatted_Address,City_State,Zip_Country,plus4,...,MATCH_INDICATOR,MATCH_TYPE,ADDRESS_OUT,LONG_LAT,TIGER_EDGE,STREET_SIDE,FIPS_STATE,FIPS_COUNTY,CENSUS_TRACT,CENSUS_BLOCK
0,127102014,"Abdullah, Rasheed K",Abdullah,Rasheed,Kaleem,NaN,8442 KONA AVE,JACKSONVILLE FL,32211,NaN,...,Match,Exact,"1411 ALETHA DR, JACKSONVILLE, FL, 32211","-81.58185517747916,30.3376877611783",83903833.0,R,12.0,31.0,15100.0,1008.0
1,103605268,"Acosta, Alexandra V",Acosta,Alexandra,V,NaN,7823 Wildwood Rd,Jacksonville FL,32211,NaN,...,Match,Exact,"7823 WILDWOOD RD, JACKSONVILLE, FL, 32211","-81.57736498752735,30.329948554607597",83904194.0,L,12.0,31.0,15002.0,1014.0
2,103587072,"Acosta, Francisco K",Acosta,Francisco,Klein,NaN,7823 Wildwood Rd,Jacksonville FL,32211,NaN,...,Match,Exact,"7823 WILDWOOD RD, JACKSONVILLE, FL, 32211","-81.57736498752735,30.329948554607597",83904194.0,L,12.0,31.0,15002.0,1014.0
3,131477247,"Acosta, Juan A",Acosta,Juan,Anibal,NaN,2334 Misty Dr,Jacksonville FL,32211,NaN,...,Match,Exact,"2334 MISTY DR, JACKSONVILLE, FL, 32211","-81.58197501525302,30.345928735351777",83903789.0,L,12.0,31.0,15100.0,3016.0
4,116699301,"Acosta, Luis S",Acosta,Luis,S,NaN,1010 Ald Rd,Jacksonville FL,32211,NaN,...,Match,Exact,"1010 ALD RD, JACKSONVILLE, FL, 32211","-81.57823782844463,30.33052788828803",83904177.0,L,12.0,31.0,15002.0,1008.0

In [15]:
df_joined = df_soe.merge(df_geocoded, left_on='VoterID', right_on='VoterID', how='left')

In [16]:
df_joined.head()

,VoterID,Voter_Name,Last_Name,First_Name,Middle_Name,Name_Style,Formatted_Address,City_State,Zip_Country,plus4,...,MATCH_INDICATOR_y,MATCH_TYPE_y,ADDRESS_OUT_y,LONG_LAT_y,TIGER_EDGE_y,STREET_SIDE_y,FIPS_STATE_y,FIPS_COUNTY_y,CENSUS_TRACT_y,CENSUS_BLOCK_y
0,127102014,"Abdullah, Rasheed K",Abdullah,Rasheed,Kaleem,NaN,8442 KONA AVE,JACKSONVILLE FL,32211,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,103605268,"Acosta, Alexandra V",Acosta,Alexandra,V,NaN,7823 Wildwood Rd,Jacksonville FL,32211,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,103587072,"Acosta, Francisco K",Acosta,Francisco,Klein,NaN,7823 Wildwood Rd,Jacksonville FL,32211,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,131477247,"Acosta, Juan A",Acosta,Juan,Anibal,NaN,2334 Misty Dr,Jacksonville FL,32211,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,116699301,"Acosta, Luis S",Acosta,Luis,S,NaN,1010 Ald Rd,Jacksonville FL,32211,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
outfile = f"{path}/census-post-matching3.csv"
df_joined.to_csv(outfile, index=False)

In [18]:
df_unmatched = df_joined[df_joined['MATCH_INDICATOR'] != 'Match']

KeyError: 'MATCH_INDICATOR'

Was 98249 unmatched in late aug

In [12]:
len(df_unmatched)

608599

In [17]:
outfile = f"{path}/census-post-matching-unmatched.csv"
df_unmatched.to_csv(outfile, index=False)