# Explore Census data
after importing voter info (SoE) and Census data (geolocation)  
slice and dice data to explore what interesting relationships exist

In [1]:
import os
import requests
import pandas as pd
import io
import csv
import glob
from sqlalchemy import create_engine, MetaData, text
from sqlalchemy.orm import sessionmaker
import psycopg2 
import matplotlib.pyplot as plt
import io
import geopandas as gpd
import contextily as ctx

In [2]:
# engine = create_engine('postgresql://sean:pass1234@localhost:5432/census')
path = '/opt/data/GIS-Census/florida'

In [3]:
host = 'localhost'
port = 5437
db = 'geocoder'
engine = create_engine(f'postgresql://sean:pass1234@{host}:{port}/{db}')
Session = sessionmaker(bind=engine)
session = Session()

In [4]:
# Use MetaData to reflect tables in the database
# metadata = MetaData()
# metadata.reflect(bind=engine)
# 
# # Function to get row count for a given table or view
# def get_row_count(table_name):
#     count_query = text(f"SELECT COUNT(*) FROM {table_name}")
#     result = session.execute(count_query).scalar()
#     return result

In [5]:

# Get row counts for all tables
# table_counts = {}
# for table_name in metadata.tables.keys():
#     row_count = get_row_count(table_name)
#     table_counts[table_name] = row_count

# If you have specific views, add them manually
# views = ['your_view_name']  # List your views here
# for view_name in views:
#     row_count = get_row_count(view_name)
#     table_counts[view_name] = row_count

# Print the row counts
# for name, count in table_counts.items():
#     print(f"Table/View: {name}, Row Count: {count}")

# Close session
# session.close()

## NEW Voters
find records in the september release that were not present in the previous release from SoE

In [6]:
 # NEW voters...?
sql = """select v.voterid, v.voter_name, v.party, v.registration_date, v.residence_address
from voters v left join voters1 v2 on v.voterid =v2.voterid 
where v2.voterid is null ;"""
df_new = pd.read_sql(sql, engine)
df_new

,voterid,voter_name,party,registration_date,residence_address
0,118783941,"Butler, Kelly F",Rep,03/30/2011,4355 Melrose Ave
1,130211252,"Butler, Keshun T",Dem,12/17/2021,1971 Jammes Rd
2,132736256,"Caicedo Ocampo, Jeffry J",Npa,08/24/2024,2257 Fairway Villas Ln N
3,132068087,"Campbell, Ariel A",Dem,09/04/2024,8223 Halls Hammock Ct
4,132781285,"Carter, Madison L",Dem,09/04/2024,10056 Koster St
...,...,...,...,...,...
3240,132775921,"Blanchar, Elmer D",Npa,09/03/2024,10660 Validus Dr APT 2221
3241,132747677,"Blyden, Afia K",Dem,08/27/2024,6090 Sage Willow Way
3242,132745752,"Brown, Willie J",Dem,08/21/2024,1576 Brook Forest Dr
3243,107314898,"Browne, Thomas G",Rep,06/11/2003,11100 Domain Dr APT 22
3244,121513184,"Bryant, Anthony R",IND,03/07/2014,6541 Anvers Blvd S

In [7]:
from IPython.display import FileLink
outfile = f'{path}/voters-new-september-2024.csv'
# outfile = 'voters-new-september-2024.csv'
# Export DataFrame to CSV
df_new.to_csv(outfile, index=False)

# Create a link to download the file
FileLink(outfile)

/opt/data/GIS-Census/florida/voters-new-september-2024.csv

## DROPPED(??) Voters
find records in the older release that are no longer present in the september release

In [18]:

# OLD/DROPPED voters...?
sql = "select * from vw_dropped_voters"

df_dropped = pd.read_sql(sql, engine)
df_dropped

,voterid,voter_name,white_other,workforce,male_other,affiliation,house_district,geoid,geom,census_tract,...,sex,race,party,public_email_address,telephone_number,residence_address,formatted_address,registration_date,match_type,geocoder
0,103430286,"Del Busso, Nancy D",White,Retired,Female+,DD,16,120310143352006,0101000020E6100000FCACB2B0455F54C0B0F828E6AC5A...,014335,...,F,5,Npa,None,None,12301 Kernan Forest Blvd APT 2908,12301 Kernan Forest Blvd APT 2908,10/14/2005,Exact,US Census
1,103440266,"Stook, Kristin L",White,WorkForce,Female+,Rep,17,120310159262008,0101000020E610000048B800784E6454C0E05A81CF753B...,015926,...,F,5,Rep,None,(904)382-3477,7701 Baymeadows Cir W 1114,7701 Baymeadows Cir W 1114,05/14/2003,Non_Exact,US Census
2,103441076,"Denson, Naomi",OTHER,Retired,Female+,Dem,14,120310150011006,0101000020E61000000C741241E46354C0E0E40310EE56...,015001,...,F,3,Dem,None,(904)705-1616,1600 Mill Creek Rd 505,1600 Mill Creek Rd 505,09/25/1975,Non_Exact,US Census
3,103441837,"Goforth, Bobby C",White,Retired,Male,DD,13,120310171021018,0101000020E6100000182435FC9D6B54C0C0D293209A4F...,017102,...,M,5,Npa,None,None,2054 Riverside Ave Apt 5103,2054 Riverside Ave Apt 5103,10/02/1998,Exact,US Census
4,103449257,"Darling, Angela C",White,WorkForce,Female+,Rep,12,120310165002008,0101000020E6100000DCB90B1B576854C0D0E07C94203F...,016500,...,F,5,Rep,None,(904)955-8194,2750 San Fernando Rd,2750 San Fernando Rd,10/05/1992,Exact,US Census
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,128931487,"Killion, Carlee A",White,WorkForce,Female+,Dem,15,None,None,None,...,F,5,Dem,None,None,1055 Tan Tara Trl,1055 Tan Tara Trl,10/01/2020,None,None
1093,129803500,"Anderson, Maria L",OTHER,WorkForce,Female+,DD,17,None,None,None,...,F,4,Npa,None,(801)856-4807,8876 A C Skinner Pkwy UNIT 1418,8876 A C Skinner Pkwy UNIT 1418,07/28/2021,None,None
1094,103288723,"Gardner, Michele J",White,WorkForce,Female+,DD,16,None,None,None,...,F,5,Npa,None,(757)963-6531,1 Mayport Naval Base,702 Westover Ave,05/28/1997,None,None
1095,123413088,"Kovach, Zachary S",White,WorkForce,Male,DD,15,None,None,None,...,M,5,LPF,None,None,13163 Ranch Rd APT 4208,13163 Ranch Rd APT 4208,04/12/2016,None,None
1096,116290822,"Martinez, Joel",OTHER,WorkForce,Male,DD,17,None,None,None,...,M,4,Npa,None,None,14403 Bartram Creek Blvd,14403 Bartram Creek Blvd,06/12/2008,None,None

In [9]:
sql = "select voterid, address_in, match_indicator, match_type, long_lat, census_tract, census_block, geocoder, geoid from geolocations"
df_geo = pd.read_sql(sql, engine)
df_geo

,voterid,address_in,match_indicator,match_type,long_lat,census_tract,census_block,geocoder,geoid
0,100002687,"7044 Deer Lodge Cir APT 110, Jacksonville, FL,...",Match,Non_Exact,"-81.59145747292257,30.244896884401214",016605,2011,US Census,120310166052011
1,100005608,"6925 Cartier CIR, Jacksonville, FL, 32208",Match,Exact,"-81.7057683536849,30.39448921709453",011300,2010,US Census,120310113002010
2,100008211,"1401 Riverplace Blvd 2309, Jacksonville, FL, 3...",Match,Non_Exact,"-81.65632528432121,30.318594816974723",000800,2001,US Census,120310008002001
3,100008843,"2305 La Mesa Dr E, Jacksonville, FL, 32217",Match,Non_Exact,"-81.63521984804595,30.252000692785202",016500,4021,US Census,120310165004021
4,100012958,"10061 Sweetwater Pkwy APT 239, Jacksonville, F...",Match,Exact,"-81.50636926182125,30.219390011992516",014424,3010,US Census,120310144243010
...,...,...,...,...,...,...,...,...,...
597073,132789129,"3614 Effee St, Jacksonville, FL, 32209",Match,Exact,"-81.68961842825928,30.36020125138515",002801,2024,US Census,120310028012024
597074,132789169,"5226 Polan Ln, Jacksonville, FL, 32209",Match,Exact,"-81.70664572654061,30.36692697597664",011600,1029,US Census,120310116001029
597075,132789187,"2332 Mindanao Dr, Jacksonville, FL, 32246",Match,Exact,"-81.51870493941993,30.30774686474382",014338,2001,US Census,120310143382001
597076,132789210,"4535 120Th St 8, Jacksonville, FL, 32244",Match,Non_Exact,"-81.6999902517232,30.232380908053415",013301,1015,US Census,120310133011015
597077,132789426,"8346 Pineverde Ln, Jacksonville, FL, 32244",Match,Exact,"-81.72278883281723,30.198591719406352",013302,1002,US Census,120310133021002

### Join dropped voters with (previous?) geolocation lookups

In [17]:
df_dropped_geo = df_dropped.merge(df_geo, how='left', left_on='voterid', right_on='voterid')
df_dropped_geo

,voterid,voter_name,party,registration_date,residence_address,address_in,match_indicator,match_type,long_lat,census_tract,census_block,geocoder,geoid
0,116811957,"Kempf, Barbara A",Rep,09/11/2008,2416 Mill Creek Rd,"2416 Mill Creek Rd, Jacksonville, FL, 32211",Match,Exact,"-81.56168688436617,30.346391855793172",015001,1002,US Census,120310150011002
1,125910703,"Motes, Jess R",Rep,07/26/2018,7223 Zona Ave,"7223 Zona Ave, Jacksonville, FL, 32211",Match,Exact,"-81.58275074304282,30.320485871746314",015501,1020,US Census,120310155011020
2,103574401,"Myers, Richard A",Rep,11/01/2001,13642 Sattler Rd,"13642 Sattler Rd, Jacksonville, FL, 32226",Match,Exact,"-81.5868557678877,30.483141850884635",010101,1008,US Census,120310101011008
3,119303666,"Hawkins, Matthew V",Rep,12/14/2011,4525 Middleton Park Cir W,"4525 Middleton Park Cir W, Jacksonville, FL, 3...",Match,Exact,"-81.45799463146966,30.255095925098146",014422,1003,US Census,120310144221003
4,124004193,"Chevalier, Bryan D",Dem,09/12/2016,3737 St Johns Bluff Rd S APT 107,"3737 St Johns Bluff Rd S APT 107, Jacksonville...",Match,Exact,"-81.52549672971656,30.283013866928513",014415,2004,US Census,120310144152004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,103142640,"Nebus, David E",Rep,03/25/1976,379 Wingstone Dr,"379 Wingstone Dr, Ponte Vedra, FL, 32081",Match,Exact,"-81.44106364593165,30.11976398011319",014423,3010,US Census,120310144233010
1093,103842473,"Christensen, Edna M",Dem,03/15/2003,4263 Tideview Dr,"4263 Tideview Dr, Jacksonville Beach, FL, 32250",Match,Exact,"-81.4348852453794,30.268394558258194",014408,2001,US Census,120310144082001
1094,107982854,"Amonette, Hope",Dem,08/01/1992,533 4TH AVE N,"533 4TH AVE N, Jacksonville Beach, FL, 32250",Match,Exact,"-81.39535279564626,30.292455452538718",014103,2026,US Census,120310141032026
1095,103552417,"Allen, Leslie J",Rep,08/02/1992,1636 Lower 4Th Ave N,"1636 Lower 4Th Ave N, Jacksonville Beach, FL, ...",Match,Exact,"-81.40847606014188,30.29128212893795",014101,3018,US Census,120310141013018
1096,129199357,"Leroy, Corey J",Npa,11/06/2020,8107 Kilwinning Ln,"8107 Kilwinning Ln, Jacksonville, FL, 32244",Match,Exact,"-81.7781063751932,30.198775470346902",013731,1003,US Census,120310137311003

In [14]:
df_foo = df_dropped_geo[df_dropped_geo['geoid'].isna()]
df_foo

,voterid,voter_name,party,registration_date,residence_address,address_in,match_indicator,match_type,long_lat,census_tract,census_block,geocoder,geoid
7,130886214,"Schlemmel, Scott R",Dem,07/29/2022,8309 Highgate Dr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,130886215,"Severino, Angela M",Dem,07/29/2022,8309 Highgate Dr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,103892490,"Proctor, Celese W",Dem,05/13/1970,1045 Oak St APT 511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,123068345,"Hall, Alan A",Rep,12/31/2015,6898 A C Skinner Pkwy APT 413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,130874820,"McLemore, Lisa M",Rep,07/21/2022,165 Oakhill St,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,116288625,"Pankey, Jonathan B",Rep,06/16/2008,13364 BEACH BLVD UNIT 301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
991,119917077,"Roche, Katie L",Rep,07/13/2012,7938 Echo Springs Rd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
992,129803500,"Anderson, Maria L",Npa,07/28/2021,8876 A C Skinner Pkwy UNIT 1418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,113170335,"Oxer, Harold L",Dem,04/16/1991,1 Fleet Landing Blvd APT 798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1030,130153110,"Bowen, Tatum A",Npa,11/29/2021,11041 Mandarin Preserve Dr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
outfile = f'{path}/voters-dropped-september-2024.csv'
# Export DataFrame to CSV
df_dropped_geo.to_csv(outfile, index=False)

# Create a link to download the file
FileLink(outfile)

/opt/data/GIS-Census/florida/voters-dropped-september-2024.csv

In [93]:
# query = """
# select v.voterid, v.house_district, v.voter_name, v.formatted_address, v.registration_date,
# g.long_lat, g.geoid, g.census_tract, g.census_block
# from geolocations g
# left join voters v on v.voterid = g.voterid
# where
#     v.house_district = 16 AND
#     g.geoid is not null
# ;"""
# 
# # Load into a DataFrame
# df_geo = pd.read_sql(query, engine)
# print(f"House District 16 voters with geolocation: {len(df_geo)}")
# df_geo

House District 16 voters with geolocation: 116957

,voterid,house_district,voter_name,formatted_address,registration_date,long_lat,geoid,census_tract,census_block
0,100468691,16,"Moore, Michael S",1750 Atlantic Beach Dr,03/19/1997,"-81.40923424130517,30.34543608062603",120310139061001,013906,1001
1,100469223,16,"Griswold, Janet A",1700 San Pablo Rd S APT 811,04/23/1997,"-81.44923317755172,30.31733761437846",120310143422000,014342,2000
2,100469254,16,"Cangelosi, Vincent A",12028 Blue Star Ct,04/23/1997,"-81.49872004388823,30.31930509658531",120310143441000,014344,1000
3,100470373,16,"Moore, Lisa K",1719 Chandelier Cir W,06/26/1997,"-81.48187565819234,30.355401341582933",120310143352005,014335,2005
4,100473053,16,"Ramirez, Lauren E",1867 Burgess Hill Dr E,08/05/1997,"-81.48074460223103,30.315681522888383",120310143403012,014340,3012
...,...,...,...,...,...,...,...,...,...
116952,132787117,16,"Nicholson, Anzie D",2753 Mayport Rd APT 1236,09/05/2024,"-81.422778523175,30.363869945095416",120310139043023,013904,3023
116953,132787139,16,"Trontl, Janet E",1058 Trenton Ct APT C,09/05/2024,"-81.42191446675099,30.35494591424532",120310139042004,013904,2004
116954,132787909,16,"Coker, Garrett R",83 Saratoga Cir S,08/22/2024,"-81.41550418346202,30.327859261504273",120310139022003,013902,2003
116955,132787914,16,"Taylor, Paul H",318 8Th St 3,08/23/2024,"-81.39886763599839,30.3324432558544",120310139051012,013905,1012
116956,132788878,16,"Yandle, Susan H",2539 Waters Edge Dr,09/06/2024,"-81.42241523681497,30.322950566102122",120310140021019,014002,1019

In [95]:
query = "select * from vw_voters"
df_voter_v = pd.read_sql(query, engine)
outfile = f"{path}/voter_view.csv"
df_voter_v.to_csv(outfile, index=False) 
FileLink(outfile)

/opt/data/GIS-Census/florida/voter_view.csv