# Age by BlockGroup Analysis: under 18, laborforce, seniors
Second version of age analysis by block group.

We should have the how to perform the **value range** quintalizing 'grokked' now

Adding workforce and seniors quintalizing now

In [1]:
import requests
import pandas as pd
# from nltk.sem.chat80 import items

# Get a list of Census variable names and metadata

In [2]:
# Fetch the metadata for a group like B01001
url = f'https://api.census.gov/data/2019/acs/acs5/variables.json'
response = requests.get(url)
metadata = response.json()
# 'metadata' is a dictionary with a key 'variables' that contains the variable data
variables_data = metadata['variables']

In [3]:
# Now we'll extract relevant information (like variable name, label, and concept)
var_lookup_dict = {}
for variable_name, variable_info in variables_data.items():
    # Append a row with variable name, label, and concept (or any other relevant fields)
    var_lookup_dict[variable_name] = variable_info.get('bg_label', '')
    # 'Concept': variable_info.get('concept', '')
    # var_lookup_dict[variable_name] = {
    #      'Label': variable_info.get('bg_label', ''),
    #      # 'Concept': variable_info.get('concept', '')
    #  }

print(f"Data variable name/meta row count: {len(var_lookup_dict)}")
var_lookup_dict

Data variable name/meta row count: 27080

{'for': '',
 'in': '',
 'ucgid': '',
 'B24022_060E': '',
 'B19001B_014E': '',
 'B07007PR_019E': '',
 'B19101A_004E': '',
 'B24022_061E': '',
 'B19001B_013E': '',
 'B07007PR_018E': '',
 'B19101A_005E': '',
 'B24022_062E': '',
 'B19001B_012E': '',
 'B01001B_029E': '',
 'B19101A_006E': '',
 'B20005A_021E': '',
 'B07007PR_017E': '',
 'B24022_063E': '',
 'B07007PR_015E': '',
 'B19001B_011E': '',
 'B19101A_007E': '',
 'B20005A_020E': '',
 'B07007PR_016E': '',
 'B24022_064E': '',
 'B19001B_010E': '',
 'B26209_011E': '',
 'B01001B_027E': '',
 'B20005A_023E': '',
 'B26209_010E': '',
 'B24022_065E': '',
 'B01001B_028E': '',
 'B19101A_001E': '',
 'B20005A_022E': '',
 'B24022_066E': '',
 'B01001B_025E': '',
 'B20005A_025E': '',
 'B19101A_002E': '',
 'B19037E_030E': '',
 'B24022_067E': '',
 'B01001B_026E': '',
 'B19101A_003E': '',
 'B20005A_024E': '',
 'B07007PR_010E': '',
 'B07004H_002E': '',
 'B01001B_022E': '',
 'B20005_028E': '',
 'B01001B_023E': '',
 'B07004H_001E': '',
 'B20005_029E': '',
 'B01001B_024E': '',
 'B01001B_020E': '',
 'B20005_026E': '',
 'B06004E_001E': '',
 'B01001B_021E': '',
 'B20005_027E': '',
 'B06004E_002E': '',
 'B07004H_006E': '',
 'B07007PR_014E': '',
 'B08119_021E': '',
 'B06004E_003E': '',
 'B07004H_005E': '',
 'B07007PR_013E': '',
 'B19001B_017E': '',
 'B08119_020E': '',
 'B06004E_004E': '',
 'B07007PR_012E': '',
 'B07004H_004E': '',
 'B19001B_016E': '',
 'B06004E_005E': '',
 'B07007PR_011E': '',
 'B07004H_003E': '',
 'B19001B_015E': '',
 'B08201_007E': '',
 'B16005F_010E': '',
 'B08119_025E': '',
 'B19037E_028E': '',
 'B07202_005E': '',
 'B24042_022E': '',
 'B20005_020E': '',
 'B08201_008E': '',
 'B16005F_011E': '',
 'B19037E_027E': '',
 'B08119_024E': '',
 'B24042_023E': '',
 'B07202_004E': '',
 'B26209_009E': '',
 'B08201_005E': '',
 'B08119_023E': '',
 'B24042_020E': '',
 'B07202_007E': '',
 'B08201_006E': '',
 'B26209_008E': '',
 'B08119_022E': '',
 'B19037E_029E': '',
 'B07202_006E': '',
 'B24042_021E': '',
 'B08201_003E': '',
 'B17022_017E': '',
 'B20005_024E': '',
 'B07202_009E': '',
 'B17022_018E': '',
 'B08119_029E': '',
 'B08201_004E': '',
 'B20005_025E': '',
 'B07202_008E': '',
 'B08201_001E': '',
 'B20005_021E': '',
 'B17022_019E': '',
 'B08119_028E': '',
 'B08119_027E': '',
 'B20005_022E': '',
 'B08201_002E': '',
 'B08119_026E': '',
 'B20005_023E': '',
 'B26209_003E': '',
 'B17022_013E': '',
 'B24022_068E': '',
 'B20005A_027E': '',
 'B19037E_020E': '',
 'B17022_014E': '',
 'B26209_002E': '',
 'B24022_069E': '',
 'B20005A_026E': '',
 'B17022_015E': '',
 'B26209_001E': '',
 'B24042_028E': '',
 'B20005A_029E': '',
 'B19037E_022E': '',
 'B17022_016E': '',
 'B20005A_028E': '',
 'B24042_029E': '',
 'B19037E_021E': '',
 'B26209_007E': '',
 'B07202_001E': '',
 'B24042_026E': '',
 'B19037E_024E': '',
 'B26209_006E': '',
 'B17022_010E': '',
 'B24042_027E': '',
 'B19037E_023E': '',
 'B17022_011E': '',
 'B26209_005E': '',
 'B19037E_026E': '',
 'B24042_024E': '',
 'B07202_003E': '',
 'B26209_004E': '',
 'B17022_012E': '',
 'B19037E_025E': '',
 'B24042_025E': '',
 'B07202_002E': '',
 'B24022_072E': '',
 'B19001B_002E': '',
 'B01001B_019E': '',
 'B18140_004E': '',
 'B24022_073E': '',
 'B19001B_001E': '',
 'B18140_005E': '',
 'B01001B_017E': '',
 'B07007PR_029E': '',
 'B19125_001E': '',
 'B18140_006E': '',
 'B17022_020E': '',
 'B01001B_018E': '',
 'B07007PR_028E': '',
 'B19125_002E': '',
 'B18140_007E': '',
 'B26209_023E': '',
 'B01001B_015E': '',
 'B19125_003E': '',
 'B20005A_011E': '',
 'B26209_022E': '',
 'B01001B_016E': '',
 'B26209_021E': '',
 'B20005A_010E': '',
 'B21004_007E': '',
 'B25027_016E': '',
 'B01001B_013E': '',
 'B25027_015E': '',
 'B20005A_013E': '',
 'B26209_020E': '',
 'B25027_017E': '',
 'B01001B_014E': '',
 'B20005A_012E': '',
 'B07007PR_022E': '',
 'B21004_005E': '',
 'B01001B_010E': '',
 'B25027_013E': '',
 'B07007PR_021E': '',
 'B25041_007E': '',
 'B21004_006E': '',
 'B01001B_011E': '',
 'B19001B_009E': '',
 'B01001B_012E': '',
 'B25027_014E': '',
 'B07007PR_020E': '',
 'B25041_006E': '',
 'B21004_003E': '',
 'B19001B_008E': '',
 'B25027_011E': '',
 'B20005_038E': '',
 'B25041_005E': '',
 'B21004_004E': '',
 'B19001B_007E': '',
 'B20005_039E': '',
 'B25027_012E': '',
 'B07007PR_026E': '',
 'B19001B_006E': '',
 'B08119_033E': '',
 'B07007PR_027E': '',
 'B07007PR_025E': '',
 'B21004_002E': '',
 'B19001B_005E': '',
 'B25027_010E': '',
 'B08119_032E': '',
 'B21004_001E': '',
 'B07007PR_024E': '',
 'B24022_070E': '',
 'B19001B_004E': '',
 'B08119_031E': '',
 'B24022_071E': '',
 'B07007PR_023E': '',
 'B19001B_003E': '',
 'B08119_030E': '',
 'B20005_031E': '',
 'B19037E_016E': '',
 'B08119_037E': '',
 'B24121_095E': '',
 'B24042_034E': '',
 'B20005_032E': '',
 'B19037E_015E': '',
 'B08119_036E': '',
 'B20005_033E': '',
 'B24121_094E': '',
 'B24042_035E': '',
 'B19037E_018E': '',
 'B08119_035E': '',
 'B24121_097E': '',
 'B24042_032E': '',
 'B20005_030E': '',
 'B08119_034E': '',
 'B19037E_017E': '',
 'B24042_033E': '',
 'B24121_096E': '',
 'B12006_003E': '',
 'B07007PR_030E': '',
 'B17022_029E': '',
 'B20005_036E': '',
 'B24042_030E': '',
 'B24121_099E': '',
 'B12006_002E': '',
 'B20005_037E': '',
 'B19037E_019E': '',
 'B24042_031E': '',
 'B12006_001E': '',
 'B24121_098E': '',
 'B12006_005E': '',
 'B20005_034E': '',
 'B12006_004E': '',
 'B08119_039E': '',
 'B08119_038E': '',
 'B20005_035E': '',
 'B26209_015E': '',
 'B17022_025E': '',
 'B20005A_015E': '',
 'B17022_026E': '',
 'B26209_014E': '',
 'B20005A_014E': '',
 'B26209_013E': '',
 'B17022_027E': '',
 'B07202_011E': '',
 'B20005A_017E': '',
 'B19037E_010E': '',
 'B26209_012E': '',
 'B17022_028E': '',
 'B07202_010E': '',
 'B20005A_016E': '',
 'B17022_021E': '',
 'B24121_091E': '',
 'B26209_019E': '',
 'B20005A_019E': '',
 'B24042_038E': '',
 'B19037E_012E': '',
 'B07202_013E': '',
 'B26209_018E': '',
 'B17022_022E': '',
 'B24121_090E': '',
 'B07202_012E': '',
 'B24042_039E': '',
 'B20005A_018E': '',
 'B19037E_011E': '',
 'B26209_017E': '',
 'B17022_023E': '',
 'B19037E_014E': '',
 'B24042_036E': '',
 'B24121_093E': '',
 'B26209_016E': '',
 'B17022_024E': '',
 'B24042_037E': '',
 'B19037E_013E': '',
 'B24121_092E': '',
 'B07202_014E': '',
 'B24116_498E': '',
 'B12002F_013E': '',
 'B25014H_002E': '',
 'B24116_497E': '',
 'B24116_499E': '',
 'B12002F_012E': '',
 'B25061_009E': '',
 'B25014H_003E': '',
 'BG': '',
 'B25027_008E': '',
 'B24116_495E': '',
 'B19037E_050E': '',
 'CD': '',
 'B25027_009E': '',
 'B24116_496E': '',
 'B25027_006E': '',
 'B19037E_052E': '',
 'B24116_493E': '',
 'B25027_007E': '',
 'B19037E_051E': '',
 'B24116_494E': '',
 'B12002F_011E': '',
 'B25027_003E': '',
 'B24042_008E': '',
 'B20005A_001E': '',
 'B24116_491E': '',
 'B19037E_054E': '',
 'B12002F_010E': '',
 'B25027_005E': '',
 'B25027_004E': '',
 'B25014H_001E': '',
 'B24042_009E': '',
 'B24116_492E': '',
 'B19037E_053E': '',
 'B12006_007E': '',
 'B20005_004E': '',
 'B25027_001E': '',
 'B25061_002E': '',
 'B12006_006E': '',
 'B20005_005E': '',
 'B08134_099E': '',
 'B25027_002E': '',
 'B25061_001E': '',
 'B12006_009E': '',
 'B20005_002E': '',
 'B25061_004E': '',
 'B12006_008E': '',
 'B20005_003E': '',
 'B25061_003E': '',
 'B08134_096E': '',
 'B25061_006E': '',
 'B20005_008E': '',
 'B08134_095E': '',
 'B25061_005E': '',
 'B20005_009E': '',
 'B20005_006E': '',
 'B08134_098E': '',
 'B25061_008E': '',
 'B20005_007E': '',
 'B08134_097E': '',
 'B25061_007E': '',
 'B07004HPR_002E': '',
 'B08119_001E': '',
 'B12006_010E': '',
 'B17008_002E': '',
 'B07004HPR_001E': '',
 'B17008_001E': '',
 'B12006_013E': '',
 'B12006_012E': '',
 'B12006_011E': '',
 'B12006_015E': '',
 'B08119_006E': '',
 'UA': '',
 'B25041_004E': '',
 'B17020E_001E': '',
 'B08119_005E': '',
 'B12006_014E': '',
 'B25041_003E': '',
 'B08119_004E': '',
 'B20005_001E': '',
 'B12006_017E': '',
 'B25041_002E': '',
 'B08119_003E': '',
 'B12006_016E': '',
 'B25041_001E': '',
 'B08119_002E': '',
 'B24042_006E': '',
 'B17020E_005E': '',
 'B20005A_003E': '',
 'B19037E_044E': '',
 'B08119_009E': '',
 'B17020E_004E': '',
 'B20005A_002E': '',
 'B24042_007E': '',
 'B19037E_043E': '',
 'B24116_490E': '',
 'B08119_008E': '',
 'B24042_004E': '',
 'B20005A_005E': '',
 'B19037E_046E': '',
 'B17020E_003E': '',
 'B08119_007E': '',
 'B24042_005E': '',
 'B20005A_004E': '',
 'B17020E_002E': '',
 'B19037E_045E': '',
 'B17020E_009E': '',
 'B20005A_007E': '',
 'B19037E_048E': '',
 'B24042_002E': '',
 'B17020E_008E': '',
 'B20005A_006E': '',
 'B19037E_047E': '',
 'B24042_003E': '',
 'B18140_001E': '',
 'B08526_104E': '',
 'B17020E_007E': '',
 'B18140_002E': '',
 'B08526_105E': '',
 'B17020E_006E': '',
 'B20005A_009E': '',
 'B20005A_008E': '',
 'B19037E_049E': '',
 'B18140_003E': '',
 'B24042_001E': '',
 'B08526_102E': '',
 'B08526_103E': '',
 'B08526_100E': '',
 'B08526_101E': '',
 'B19037E_040E': '',
 'B19037E_042E': '',
 'B19037E_041E': '',
 'B12006_019E': '',
 'B20005_016E': '',
 'B02014_053E': '',
 'B12006_018E': '',
 'B20005_017E': '',
 'B02014_052E': '',
 'B20005_014E': '',
 'B02014_051E': '',
 'B20005_015E': '',
 'B02014_050E': '',
 'B01001B_030E': '',
 'B07004HPR_006E': '',
 'B07004HPR_005E': '',
 'B01001B_031E': '',
 'B07004HPR_004E': '',
 'B20005_018E': '',
 'B02014_055E': '',
 'B07004HPR_003E': '',
 'B02014_054E': '',
 'B17008_003E': '',
 'B20005_019E': '',
 'B17022_009E': '',
 'B02014_049E': '',
 'B08119_013E': '',
 'B12006_022E': '',
 'B24042_010E': '',
 'B08119_012E': '',
 'B02014_048E': '',
 'B19037E_039E': '',
 'B12006_021E': '',
 'B24042_011E': '',
 'B12006_025E': '',
 'B08119_011E': '',
 'B02014_047E': '',
 'B12006_024E': '',
 'B08119_010E': '',
 'B02014_046E': '',
 'B16005F_001E': '',
 'B12006_023E': '',
 'B12006_027E': '',
 'B08119_018E': '',
 'B17022_005E': '',
 'B20005_012E': '',
 'B12006_026E': '',
 'B17022_006E': '',
 'B08119_017E': '',
 'B08119_016E': '',
 'B20005_013E': '',
 'B12006_029E': '',
 'B17022_007E': '',
 'B08119_015E': '',
 'B12006_028E': '',
 'B20005_010E': '',
 'B17022_008E': '',
 'B08119_014E': '',
 'B20005_011E': '',
 'B17022_001E': '',
 'B24042_018E': '',
 'B16005F_006E': '',
 'B19037E_032E': '',
 'B17022_002E': '',
 'B24042_019E': '',
 'B16005F_007E': '',
 'B19037E_031E': '',
 'B17022_003E': '',
 'B24042_016E': '',
 'B16005F_008E': '',
 'B19037E_034E': '',
 'B17022_004E': '',
 'B08119_019E': '',
 'B24042_017E': '',
 'B19037E_033E': '',
 'B16005F_009E': '',
 'B19037E_036E': '',
 'B24042_014E': '',
 'B16005F_002E': '',
 'B24042_015E': '',
 'B19037E_035E': '',
 'B16005F_003E': '',
 'B19037E_038E': '',
 'B16005F_004E': '',
 'B24042_012E': '',
 'B12006_020E': '',
 'B19037E_037E': '',
 'B16005F_005E': '',
 'B24042_013E': '',
 'B17022_053E': '',
 'C27005_003E': '',
 'B23008_016E': '',
 'B20005A_067E': '',
 'B24116_473E': '',
 'B08126_101E': '',
 'B17022_054E': '',
 'B23008_015E': '',
 'C27005_004E': '',
 'B08126_100E': '',
 'B20005A_066E': '',
 'B24116_474E': '',
 'B17022_055E': '',
 'B23008_018E': '',
 'C27005_005E': '',
 'B20005A_069E': '',
 'B08126_103E': '',
 'B24116_471E': '',
 'C27001G_001E': '',
 'B17022_056E': '',
 'B23008_017E': '',
 'C27005_006E': '',
 'B20005A_068E': '',
 'B08126_102E': '',
 'B24116_472E': '',
 'C27001G_002E': '',
 'C27005_007E': '',
 'C27005_008E': '',
 'B08119_061E': '',
 'B08126_105E': '',
 'B23008_019E': '',
 'C27005_009E': '',
 'B08126_104E': '',
 'B17022_050E': '',
 'B24116_470E': '',
 'B08119_060E': '',
 'B17022_051E': '',
 'B17022_052E': '',
 'B24126_019E': '',
 'B02014_041E': '',
 'B24126_018E': '',
 'B08519_009E': '',
 'B02014_040E': '',
 'B25061_025E': '',
 'B08519_008E': '',
 'B08119_063E': '',
 'B20005A_061E': '',
 'B08519_007E': '',
 'B08119_062E': '',
 'B20005A_060E': '',
 'B24126_015E': '',
 'B08519_006E': '',
 'B24116_478E': '',
 'B23008_012E': '',
 'B99080_001E': '',
 'B02014_045E': '',
 'B20005A_063E': '',
 'B24126_014E': '',
 'B24116_479E': '',
 'B08519_005E': '',
 'B23008_011E': '',
 'B25007_020E': '',
 'B99080_002E': '',
 'B23008_010E': '',
 'B02014_044E': '',
 'B14004_010E': '',
 'B20005A_062E': '',
 'B24126_013E': '',
 'B24126_017E': '',
 'B08519_004E': '',
 'B24116_476E': '',
 'B23008_014E': '',
 'B25007_021E': '',
 'B02014_043E': '',
 'B24116_475E': '',
 'B20005A_065E': '',
 'B24126_016E': '',
 'B24116_477E': '',
 'B08519_003E': '',
 'B23008_013E': '',
 'B02014_042E': '',
 'B20005A_064E': '',
 'B12006_035E': '',
 'B08519_002E': '',
 'B02014_037E': '',
 'B20005_068E': '',
 'B14004_001E': '',
 'B08519_001E': '',
 'B24126_010E': '',
 'B12006_034E': '',
 'B25125_001E': '',
 'B02014_036E': '',
 'B20005_069E': '',
 'B12006_033E': '',
 'B14004_002E': '',
 'B25061_020E': '',
 'B12006_037E': '',
 'B20005_065E': '',
 'B02014_035E': '',
 'B20005_066E': '',
 'B24126_012E': '',
 'B12006_036E': '',
 'B02014_034E': '',
 'B20005_067E': '',
 'B24126_011E': '',
 'B14004_006E': '',
 'B12006_039E': '',
 'B11002C_001E': '',
 'B25125_004E': '',
 'B11002C_002E': '',
 'B14004_005E': '',
 'B25061_022E': '',
 'B12006_038E': '',
 'B14004_007E': '',
 'B25125_005E': '',
 'B11002C_003E': '',
 'B25125_006E': '',
 'B25061_021E': '',
 'B25125_002E': '',
 'B25061_024E': '',
 'B14004_003E': '',
 'B25125_003E': '',
 'B02014_039E': '',
 'B02014_038E': '',
 'B14004_004E': '',
 'B25061_023E': '',
 'C27001G_007E': '',
 'B25125_009E': '',
 'C27001G_008E': '',
 'B20005_060E': '',
 'B14004_008E': '',
 'C27001G_009E': '',
 'B25125_007E': '',
 'B14004_009E': '',
 'B25125_008E': '',
 'B17022_057E': '',
 'B20005_063E': '',
 'B12006_030E': '',
 'C27001G_003E': '',
 'B17022_058E': '',
 'B20005_064E': '',
 'C27001G_004E': '',
 'B17022_059E': '',
 'C27005_001E': '',
 'B20005_061E': '',
 'C27001G_005E': '',
 'B12006_032E': '',
 'C27005_002E': '',
 'B20005_062E': '',
 'C27001G_006E': '',
 'B12006_031E': '',
 'B17022_065E': '',
 'B992518_001E': '',
 'B23008_004E': '',
 'B10053_002E': '',
 'B26203D_008E': '',
 'B20005A_055E': '',
 'B24116_485E': '',
 'B17022_066E': '',
 'B992518_002E': '',
 'B24116_487E': '',
 'B23008_003E': '',
 'B10053_003E': '',
 'B26203D_009E': '',
 'B24116_486E': '',
 'B20005A_054E': '',
 'B992518_003E': '',
 'B17022_067E': '',
 'B23008_006E': '',
 'B20005A_057E': '',
 'B10053_004E': '',
 'B24116_483E': '',
 'B26203D_006E': '',
 'B17022_068E': '',
 'B06007PR_040E': '',
 'B23008_005E': '',
 'B10053_005E': '',
 'B20005A_056E': '',
 'B24116_484E': '',
 'B26203D_007E': '',
 'B23008_008E': '',
 'B20005A_059E': '',
 'B10053_006E': '',
 'B17022_061E': '',
 'B24116_481E': '',
 'B26203D_004E': '',
 'B10053_008E': '',
 'B23008_007E': '',
 'B20005_080E': '',
 'B10053_007E': '',
 'B20005A_058E': '',
 'B17022_062E': '',
 'B24116_482E': '',
 'B26203D_005E': '',
 'B17022_063E': '',
 'B10053_009E': '',
 'B26203D_002E': '',
 'B23008_009E': '',
 'B17022_064E': '',
 'B26203D_003E': '',
 'B24116_480E': '',
 'C27001G_010E': '',
 'B24126_007E': '',
 'B11002C_006E': '',
 'B25061_014E': '',
 'B24126_006E': '',
 'B11002C_007E': '',
 'B25061_013E': '',
 'B24126_009E': '',
 'B11002C_004E': '',
 'B25061_016E': '',
 'B24126_008E': '',
 'B11002C_005E': '',
 'B25061_015E': '',
 'B17022_060E': '',
 'B25125_020E': '',
 'B02014_033E': '',
 'B25061_018E': '',
 'B20005A_051E': '',
 'B24126_002E': '',
 'B25125_021E': '',
 'B02014_032E': '',
 'B25061_017E': '',
 'B20005A_050E': '',
 'B24126_001E': '',
 'B24126_005E': '',
 'B24116_488E': '',
 'B23008_002E': '',
 'B11002C_008E': '',
 'B02014_031E': '',
 'B20005A_053E': '',
 'B24126_004E': '',
 'B24116_489E': '',
 'B23008_001E': '',
 'B25007_010E': '',
 'B11002C_009E': '',
 'B25061_019E': '',
 'B02014_030E': '',
 'B20005A_052E': '',
 'B24126_003E': '',
 'B12006_047E': '',
 'B25125_012E': '',
 'B25007_011E': '',
 'B02014_025E': '',
 'B12006_046E': '',
 'B25007_012E': '',
 'B11002C_010E': '',
 'B25125_013E': '',
 'B02014_024E': '',
 'B12006_045E': '',
 'B12006_049E': '',
 'B25007_013E': '',
 'B25125_010E': '',
 'B02014_023E': '',
 'B20005_078E': '',
 'B25007_014E': '',
 'B12006_048E': '',
 'B25125_011E': '',
 'B20005_079E': '',
 'B02014_022E': '',
 'B25007_015E': '',
 'B25125_016E': '',
 'B25125_017E': '',
 'B25007_016E': '',
 'B10002_005E': '',
 'B25061_010E': '',
 'B10002_003E': '',
 'B02014_029E': '',
 'B25125_018E': '',
 'B25007_017E': '',
 'B10002_004E': '',
 'B10002_002E': '',
 'B11002C_011E': '',
 'B25125_014E': '',
 'B02014_028E': '',
 'B02014_027E': '',
 'B25007_018E': '',
 'B25061_012E': '',
 'B10002_001E': '',
 'B11002C_012E': '',
 'B25125_015E': '',
 'B02014_026E': '',
 'B25007_019E': '',
 'B25061_011E': '',
 'B20005_071E': '',
 'B20005_072E': '',
 'B26203D_001E': '',
 'B25125_019E': '',
 'B12006_040E': '',
 'B20005_070E': '',
 'B17022_069E': '',
 'B20005_075E': '',
 'B10053_010E': '',
 'B12006_042E': '',
 'B20005_076E': '',
 'B10053_011E': '',
 'B20005_077E': '',
 'B12006_041E': '',
 'B20005_073E': '',
 'B12006_044E': '',
 'B08201_030E': '',
 'B20005_074E': '',
 'B12006_043E': '',
 'B25106_046E': '',
 'B20005A_043E': '',
 'B17022_030E': '',
 'B25106_045E': '',
 'B20005A_042E': '',
 'B24116_450E': '',
 'B17022_031E': '',
 'B20005A_045E': '',
 'B17022_032E': '',
 'B20005A_044E': '',
 'B20005A_047E': '',
 'B20005A_046E': '',
 'B20005A_049E': '',
 'B20005A_048E': '',
 'B24116_458E': '',
 'B06007PR_033E': '',
 'B99243_003E': '',
 'B24042_050E': '',
 'B08119_041E': '',
 'B24116_459E': '',
 'B06007PR_034E': '',
 'B99243_002E': '',
 'B14004_030E': '',
 'B24042_051E': '',
 'B08119_040E': '',
 'B06007PR_035E': '',
 'B24116_456E': '',
 'B06007PR_036E': '',
 'B24116_457E': '',
 'B06007PR_037E': '',
 'B24116_454E': '',
 'B25125_032E': '',
 'B08119_045E': '',
 'B02014_021E': '',
 'B24116_453E': '',
 'B14004_033E': '',
 'B08519_029E': '',
 'B06007PR_030E': '',
 'B24116_455E': '',
 'B25125_033E': '',
 'B08119_044E': '',
 'B02014_020E': '',
 'B02019_011E': '',
 'B99243_001E': '',
 'B08519_028E': '',
 'B25125_030E': '',
 'B06007PR_031E': '',
 'B08119_043E': '',
 'B02019_010E': '',
 'B24116_451E': '',
 'B14004_031E': '',
 'B20005A_041E': '',
 'B06007PR_032E': '',
 'B08519_027E': '',
 'B25125_031E': '',
 'B08119_042E': '',
 'B24116_452E': '',
 'B14004_032E': '',
 'B20005A_040E': '',
 'B25003C_001E': '',
 'B08519_026E': '',
 'B20005_043E': '',
 'B25125_024E': '',
 'B19037E_004E': '',
 'B02014_013E': '',
 'B08119_049E': '',
 'B10051E_001E': '',
 'B20005_044E': '',
 'B24042_046E': '',
 'B14004_025E': '',
 'B08519_025E': '',
 'B25125_025E': '',
 'B19037E_003E': '',
 'B24042_047E': '',
 'B02014_012E': '',
 'B08119_048E': '',
 'B20005_045E': '',
 'B14004_026E': '',
 'B25003C_003E': '',
 'B08519_024E': '',
 'B25125_022E': '',
 'B20005_041E': '',
 'B08201_029E': '',
 'B02014_011E': '',
 'B08119_047E': '',
 'B19037E_006E': '',
 'B14004_023E': '',
 'B08519_023E': '',
 'B24042_044E': '',
 'B25003C_002E': '',
 'B25125_023E': '',
 'B20005_042E': '',
 'B19037E_005E': '',
 'B02014_010E': '',
 'B08119_046E': '',
 'B08519_022E': '',
 'B24042_045E': '',
 'B14004_024E': '',
 'B02014_018E': '',
 'B08201_027E': '',
 'B02019_009E': '',
 'B25125_029E': '',
 'B20005_048E': '',
 'B19037E_008E': '',
 'B24042_042E': '',
 'B08519_021E': '',
 'B06007PR_038E': '',
 'B02019_008E': '',
 'B08201_028E': '',
 'B02014_017E': '',
 'B02014_016E': '',
 'B20005_049E': '',
 'B19037E_007E': '',
 'B08519_020E': '',
 'B06007PR_039E': '',
 'B24042_043E': '',
 'B08201_025E': '',
 'B02019_007E': '',
 'B24116_448E': '',
 'B14004_028E': '',
 'B25125_026E': '',
 'B02014_015E': '',
 'B20005_046E': '',
 'B24042_040E': '',
 'B14004_027E': '',
 'B24116_449E': '',
 'B02019_006E': '',
 'B14004_029E': '',
 'B25125_027E': '',
 'B08201_026E': '',
 'B02014_014E': '',
 'B25125_028E': '',
 'B19037E_009E': '',
 'B20005_047E': '',
 'B24042_041E': '',
 'B08201_023E': '',
 'B17022_037E': '',
 'B12006_050E': '',
 'B08201_024E': '',
 'B17022_038E': '',
 'B08201_021E': '',
 'B17022_039E': '',
 'B25106_040E': '',
 'B12006_052E': '',
 'B25077_001E': '',
 'B10051E_007E': '',
 'B08201_022E': '',
 'B02014_019E': '',
 'B10051E_006E': '',
 'B12006_051E': '',
 'B17022_033E': '',
 'B25106_042E': '',
 'B10051E_005E': '',
 'B12006_054E': '',
 'B08201_020E': '',
 'B17022_034E': '',
 'B20005_040E': '',
 'B25106_041E': '',
 'B10051E_004E': '',
 'B12006_053E': '',
 'B17022_035E': '',
 'B24042_048E': '',
 'B19037E_002E': '',
 'B25106_044E': '',

In [4]:
total_pop_var = 'B01001_001E'
vars_to_get = """B01001_001E,B01001_001M,B01001_002E,B01001_002M,B01001_003E,B01001_003M,B01001_004E,B01001_004M,B01001_005E,B01001_005M,B01001_006E,B01001_006M,B01001_007E,B01001_007M,B01001_008E,B01001_008M,B01001_009E,B01001_009M,B01001_010E,B01001_010M,B01001_011E,B01001_011M,B01001_012E,B01001_012M,B01001_013E,B01001_013M,B01001_014E,B01001_014M,B01001_015E,B01001_015M,B01001_016E,B01001_016M,B01001_017E,B01001_017M,B01001_018E,B01001_018M,B01001_019E,B01001_019M,B01001_020E,B01001_020M,B01001_021E,B01001_021M,B01001_022E,B01001_022M,B01001_023E,B01001_023M,B01001_024E,B01001_024M,B01001_025E,B01001_025M,B01001_026E,B01001_026M,B01001_027E,B01001_027M,B01001_028E,B01001_028M,B01001_029E,B01001_029M,B01001_030E,B01001_030M,B01001_031E,B01001_031M,B01001_032E,B01001_032M,B01001_033E,B01001_033M,B01001_034E,B01001_034M,B01001_035E,B01001_035M,B01001_036E,B01001_036M,B01001_037E,B01001_037M,B01001_038E,B01001_038M,B01001_039E,B01001_039M,B01001_040E,B01001_040M,B01001_041E,B01001_041M,B01001_042E,B01001_042M,B01001_043E,B01001_043M,B01001_044E,B01001_044M,B01001_045E,B01001_045M,B01001_046E,B01001_046M,B01001_047E,B01001_047M,B01001_048E,B01001_048M,B01001_049E,B01001_049M
"""
vars_to_get = vars_to_get.split(',')
print(f"number of vars we actually want: {len(vars_to_get)}")

number of vars we actually want: 98

## Get the actual census data for population(s)
* get the json
* convert to dataframe

Note: had a problem sending the ~90 indicators we want, so I switched to get ALL the B01001* variables, and will drop what we don't want

In [5]:
# Define the Census API URL
# url = "https://api.census.gov/data/2020/acs/acs5?get=NAME,B01001_001E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_027E,B01001_028E,B01001_029E,B01001_030E&for=block group:*&in=state:12&in=county:031"
# url = f'https://api.census.gov/data/2019/acs/acs5?get=group(B01001)&for=block_group:*&state:12&in=county:031'        #&key={api_key}
url = "https://api.census.gov/data/2020/acs/acs5?get=group(B01001)&for=block%20group:*&in=state:12&in=county:031"
print(f"url: {url}")

# Fetch the data
response = requests.get(url)
response.raise_for_status()
data = response.json()
# Convert JSON data to a pandas DataFrame
df = pd.DataFrame(data[1:], columns=data[0])
df.rename(columns={total_pop_var: 'c_TotalPopulation'}, inplace=True)

url: https://api.census.gov/data/2020/acs/acs5?get=group(B01001)&for=block%20group:*&in=state:12&in=county:031

In [6]:
df['ctbg'] = df['GEO_ID'].str[-7:]
# TODO -- the below approach is wrong :-)
# df['bg_label'] = f"CT:{df['tract']} bg:{df['block group']}"
df['bg_label'] = "CT:" + df['tract'].astype(str) + " bg:" + df['block group'].astype(str)
print(f"Got {len(data)} rows across {len(df.columns)} columns")

Got 583 rows across 204 columns

In [7]:
df

,c_TotalPopulation,B01001_001EA,B01001_001M,B01001_001MA,B01001_002E,B01001_002EA,B01001_002M,B01001_002MA,B01001_003E,B01001_003EA,...,B01001_049M,B01001_049MA,GEO_ID,NAME,state,county,tract,block group,ctbg,bg_label
0,1878,None,623,None,849,None,337,None,29,None,...,14,None,1500000US120310143361,"Block Group 1, Census Tract 143.36, Duval Coun...",12,031,014336,1,0143361,CT:014336 bg:1
1,1171,None,358,None,523,None,223,None,24,None,...,66,None,1500000US120310144251,"Block Group 1, Census Tract 144.25, Duval Coun...",12,031,014425,1,0144251,CT:014425 bg:1
2,2283,None,895,None,823,None,338,None,127,None,...,42,None,1500000US120310147043,"Block Group 3, Census Tract 147.04, Duval Coun...",12,031,014704,3,0147043,CT:014704 bg:3
3,2608,None,1283,None,1417,None,925,None,291,None,...,56,None,1500000US120310160013,"Block Group 3, Census Tract 160.01, Duval Coun...",12,031,016001,3,0160013,CT:016001 bg:3
4,2414,None,896,None,1296,None,482,None,24,None,...,13,None,1500000US120310107003,"Block Group 3, Census Tract 107, Duval County,...",12,031,010700,3,0107003,CT:010700 bg:3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,1583,None,492,None,852,None,299,None,30,None,...,17,None,1500000US120310028011,"Block Group 1, Census Tract 28.01, Duval Count...",12,031,002801,1,0028011,CT:002801 bg:1
578,1343,None,573,None,512,None,283,None,102,None,...,14,None,1500000US120310013001,"Block Group 1, Census Tract 13, Duval County, ...",12,031,001300,1,0013001,CT:001300 bg:1
579,979,None,462,None,468,None,296,None,0,None,...,19,None,1500000US120310120003,"Block Group 3, Census Tract 120, Duval County,...",12,031,012000,3,0120003,CT:012000 bg:3
580,859,None,236,None,365,None,115,None,80,None,...,7,None,1500000US120310016001,"Block Group 1, Census Tract 16, Duval County, ...",12,031,001600,1,0016001,CT:001600 bg:1
581,1977,None,596,None,924,None,312,None,22,None,...,14,None,1500000US120310137292,"Block Group 2, Census Tract 137.29, Duval Coun...",12,031,013729,2,0137292,CT:013729 bg:2

## Filter out extranous columns that end with 'M' (Margin of Error columns)
future work may want to keep the margin of error for more advanced analysis

In [8]:
# assume all the 'excess' columns are in the census B01001* group, so anything not starting with a `B` is something we care about,
# skipping endswith('M') may be redundanct/useless
columns_to_keep = [col for col in df.columns if not col.startswith('B') or (col in var_lookup_dict and not col.endswith('M'))]
print(f"original col count:({len(df.columns)}) from census, We filtered down to: {len(columns_to_keep)}")

original col count:(204) from census, We filtered down to: 57

In [9]:
# switch over to better named df, and pick the columns we care about
df_census = df.filter(items=columns_to_keep)
print(f"Unfiltered column count: df:({len(df.columns)}) -- filtered:({len(df_census.columns)})")
df_census.columns

Unfiltered column count: df:(204) -- filtered:(57)

Index(['c_TotalPopulation', 'B01001_002E', 'B01001_003E', 'B01001_004E',
       'B01001_005E', 'B01001_006E', 'B01001_007E', 'B01001_008E',
       'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E',
       'B01001_013E', 'B01001_014E', 'B01001_015E', 'B01001_016E',
       'B01001_017E', 'B01001_018E', 'B01001_019E', 'B01001_020E',
       'B01001_021E', 'B01001_022E', 'B01001_023E', 'B01001_024E',
       'B01001_025E', 'B01001_026E', 'B01001_027E', 'B01001_028E',
       'B01001_029E', 'B01001_030E', 'B01001_031E', 'B01001_032E',
       'B01001_033E', 'B01001_034E', 'B01001_035E', 'B01001_036E',
       'B01001_037E', 'B01001_038E', 'B01001_039E', 'B01001_040E',
       'B01001_041E', 'B01001_042E', 'B01001_043E', 'B01001_044E',
       'B01001_045E', 'B01001_046E', 'B01001_047E', 'B01001_048E',
       'B01001_049E', 'GEO_ID', 'NAME', 'state', 'county', 'tract',
       'block group', 'ctbg', 'bg_label'],
      dtype='object')

## Under 18 population calcs (per blockgroup)
- build summary of ages under 18
- calc percent of the population under 18
- sort by percentage ascending
- generate running total (needed for value-range quintalization)

In [10]:
# Calculate the total under18pop
# excel[ACSDT5Y2022.B01001-Data] cx8 =G8+I8+K8+M8+BC8+BE8+BG8+BI8
df_census['c_under18pop'] = (df['B01001_003E'].astype(int)  # Male population under 5 years
                             + df['B01001_004E'].astype(int)  # 5-9
                             + df['B01001_005E'].astype(int)  # 10-14
                             + df['B01001_006E'].astype(int)  #15-17
                             + df['B01001_027E'].astype(int)  # Female population under 5 years
                             + df['B01001_028E'].astype(int)  # 5-9
                             + df['B01001_029E'].astype(int)  # 10-14
                             + df['B01001_030E'].astype(int))  #15-17

In [11]:
# Calculate the percentage of the under18pop
df_census['c_under18Percent'] = ((df_census['c_under18pop'] / df_census['c_TotalPopulation'].astype(int)) * 100)

df_census.sort_values(by='c_under18pop', ascending=True, inplace=True)
df_census['c_under18Running'] = df_census['c_TotalPopulation'].astype(int).cumsum()
print("Preview data to show our (slow) progress toward the end goal... (note extra `B01001*` fields not yet handled...)")
df_census

Preview data to show our (slow) progress toward the end goal... (note extra `B01001*` fields not yet handled...)

,c_TotalPopulation,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,...,NAME,state,county,tract,block group,ctbg,bg_label,c_under18pop,c_under18Percent,c_under18Running
89,985,788,0,0,0,0,25,74,0,83,...,"Block Group 5, Census Tract 144.14, Duval Coun...",12,031,014414,5,0144145,CT:014414 bg:5,0,0.000000,985
560,368,340,0,0,0,0,0,0,0,0,...,"Block Group 2, Census Tract 144.14, Duval Coun...",12,031,014414,2,0144142,CT:014414 bg:2,0,0.000000,1353
143,493,297,0,0,0,0,0,0,0,0,...,"Block Group 1, Census Tract 14.01, Duval Count...",12,031,001401,1,0014011,CT:001401 bg:1,0,0.000000,1846
312,756,333,0,0,0,0,0,0,0,0,...,"Block Group 2, Census Tract 139.06, Duval Coun...",12,031,013906,2,0139062,CT:013906 bg:2,0,0.000000,2602
161,174,92,0,0,0,0,0,0,0,0,...,"Block Group 3, Census Tract 105.01, Duval Coun...",12,031,010501,3,0105013,CT:010501 bg:3,0,0.000000,2776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,3687,1752,305,269,87,79,49,0,14,95,...,"Block Group 1, Census Tract 143.34, Duval Coun...",12,031,014334,1,0143341,CT:014334 bg:1,1366,37.049091,928061
566,2745,1630,263,477,301,52,73,0,0,32,...,"Block Group 3, Census Tract 105.03, Duval Coun...",12,031,010503,3,0105033,CT:010503 bg:3,1474,53.697632,930806
167,5633,2902,428,69,430,36,40,30,42,42,...,"Block Group 1, Census Tract 144.23, Duval Coun...",12,031,014423,1,0144231,CT:014423 bg:1,1596,28.333037,936439
481,4809,2639,380,367,301,63,178,0,20,0,...,"Block Group 2, Census Tract 103.05, Duval Coun...",12,031,010305,2,0103052,CT:010305 bg:2,1616,33.603660,941248
270,7403,3091,62,32,237,12,431,0,46,0,...,"Block Group 2, Census Tract 144.23, Duval Coun...",12,031,014423,2,0144232,CT:014423 bg:2,1688,22.801567,948651

### Quintilize under 18 percent values
**Note:** this quintlization is of **population values by blockgroup**, with the rows sorted ascending by percent population under 18

In [12]:
df_census['c_Q_under18'] = pd.cut(df_census['c_under18Running'], 5, labels=['1', '2', '3', '4', '5'], include_lowest=True)
df_census

,c_TotalPopulation,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,...,state,county,tract,block group,ctbg,bg_label,c_under18pop,c_under18Percent,c_under18Running,c_Q_under18
89,985,788,0,0,0,0,25,74,0,83,...,12,031,014414,5,0144145,CT:014414 bg:5,0,0.000000,985,1
560,368,340,0,0,0,0,0,0,0,0,...,12,031,014414,2,0144142,CT:014414 bg:2,0,0.000000,1353,1
143,493,297,0,0,0,0,0,0,0,0,...,12,031,001401,1,0014011,CT:001401 bg:1,0,0.000000,1846,1
312,756,333,0,0,0,0,0,0,0,0,...,12,031,013906,2,0139062,CT:013906 bg:2,0,0.000000,2602,1
161,174,92,0,0,0,0,0,0,0,0,...,12,031,010501,3,0105013,CT:010501 bg:3,0,0.000000,2776,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,3687,1752,305,269,87,79,49,0,14,95,...,12,031,014334,1,0143341,CT:014334 bg:1,1366,37.049091,928061,5
566,2745,1630,263,477,301,52,73,0,0,32,...,12,031,010503,3,0105033,CT:010503 bg:3,1474,53.697632,930806,5
167,5633,2902,428,69,430,36,40,30,42,42,...,12,031,014423,1,0144231,CT:014423 bg:1,1596,28.333037,936439,5
481,4809,2639,380,367,301,63,178,0,20,0,...,12,031,010305,2,0103052,CT:010305 bg:2,1616,33.603660,941248,5
270,7403,3091,62,32,237,12,431,0,46,0,...,12,031,014423,2,0144232,CT:014423 bg:2,1688,22.801567,948651,5

## Calculate Over 65 Population and Quintiles

In [13]:
# Calculate the total population 65 or over
# excel[ACSDT5Y2022.B01001-Data] cz8=AO8+AQ8+AS8+AU8+AW8+AY8+CK8+CM8+CO8+CQ8+CS8+CU8
# ao=B01001_020E -- Estimate!!Total:!!Male:!!65 and 66 years
# aq=B01001_021E -- Estimate!!Total:!!Male:!!67 to 69 years
# ay=B01001_025E --  85 and over
df_census['c_over65Pop'] = (df_census['B01001_020E'].astype(int)  #
                            + df_census['B01001_021E'].astype(int)
                            + df_census['B01001_022E'].astype(int)
                            + df_census['B01001_023E'].astype(int)
                            + df_census['B01001_024E'].astype(int)
                            + df_census['B01001_025E'].astype(int)

                            + df_census['B01001_044E'].astype(int)  #
                            + df_census['B01001_045E'].astype(int)
                            + df_census['B01001_046E'].astype(int)
                            + df_census['B01001_047E'].astype(int)
                            + df_census['B01001_048E'].astype(int)
                            + df_census['B01001_049E'].astype(int)
                            )

# Calculate the percentage of the under18pop
df_census['c_over65Percent'] = ((df_census['c_over65Pop'] / df_census['c_TotalPopulation'].astype(int)) * 100)

df_census.sort_values(by='c_over65Percent', ascending=True, inplace=True)
df_census['c_over65Running'] = df_census['c_TotalPopulation'].astype(int).cumsum()
df_census['c_Q_over65'] = pd.cut(df_census['c_over65Running'], 5, labels=['1', '2', '3', '4', '5'], include_lowest=True).astype(int)
print(f"df_census colums: {df_census.columns}")

df_census colums: Index(['c_TotalPopulation', 'B01001_002E', 'B01001_003E', 'B01001_004E',
       'B01001_005E', 'B01001_006E', 'B01001_007E', 'B01001_008E',
       'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E',
       'B01001_013E', 'B01001_014E', 'B01001_015E', 'B01001_016E',
       'B01001_017E', 'B01001_018E', 'B01001_019E', 'B01001_020E',
       'B01001_021E', 'B01001_022E', 'B01001_023E', 'B01001_024E',
       'B01001_025E', 'B01001_026E', 'B01001_027E', 'B01001_028E',
       'B01001_029E', 'B01001_030E', 'B01001_031E', 'B01001_032E',
       'B01001_033E', 'B01001_034E', 'B01001_035E', 'B01001_036E',
       'B01001_037E', 'B01001_038E', 'B01001_039E', 'B01001_040E',
       'B01001_041E', 'B01001_042E', 'B01001_043E', 'B01001_044E',
       'B01001_045E', 'B01001_046E', 'B01001_047E', 'B01001_048E',
       'B01001_049E', 'GEO_ID', 'NAME', 'state', 'county', 'tract',
       'block group', 'ctbg', 'bg_label', 'c_under18pop', 'c_under18Percent',
       'c_under18Running', 'c_Q_under18', 'c_over65Pop', 'c_over65Percent',
       'c_over65Running', 'c_Q_over65'],
      dtype='object')

In [14]:
df_census_filtered = df_census.filter(
    items=['GEO_ID', 'bg_label', 'c_TotalPopulation',
           'c_over65Pop', 'c_over65Percent', 'c_over65Running', 'c_Q_over65',
           'c_under18pop', 'c_under18Percent', 'c_under18Running', 'c_Q_under18', 'NAME']
)
# df_census_filtered.head(20)

## Calculate Workforce Population and Quintiles
get the difference between under18 and over65

In [19]:
df_census_filtered['c_laborForcePop'] = df_census_filtered['c_TotalPopulation'].astype(int) - df_census_filtered['c_under18pop'].astype(int) - \
                                        df_census_filtered['c_over65Pop'].astype(int)
df_census_filtered['c_laborForcePercent'] = (df_census_filtered['c_laborForcePop'].astype(int) / df_census_filtered['c_TotalPopulation'].astype(int))

df_census_filtered.sort_values(by='c_laborForcePercent', ascending=True, inplace=True)
df_census_filtered['c_laborForceRunning'] = df_census_filtered['c_TotalPopulation'].astype(int).cumsum()

df_census_filtered['c_Q_laborForce'] = pd.cut(df_census_filtered['c_laborForceRunning'], 5, labels=[1,2,3,4,5], include_lowest=True)
df_census_filtered['c_checksumPop'] = df_census_filtered['c_over65Pop'] + df_census_filtered['c_under18pop'] + df_census_filtered['c_laborForcePop']

### Save Census information to Database
likely want to move all of this out of jupyter...

In [20]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://sean:pass1234@localhost:5432/geocoder')
df_census_filtered.to_sql('census_quintiles',engine, if_exists='replace', index=False)

582

In [21]:
df_census_with_quintiles = df_census_filtered

In [22]:
print(df_census_with_quintiles.columns)
df_census_with_quintiles.filter(items=['bg_label', 'GEO_ID', 'c_TotalPopulation',
                            'c_laborForcePop', 'c_laborForcePercent', 'c_laborForceRunning', 'c_Q_laborForce',
                                       # 'c_over65Pop', 'c_over65Percent', 'c_over65Running',
                            'c_Q_over65',
                                       # 'c_under18Percent', 'c_under18Running',
                            'c_Q_under18'
                                       ]).head(20)

Index(['GEO_ID', 'bg_label', 'c_TotalPopulation', 'c_over65Pop',
       'c_over65Percent', 'c_over65Running', 'c_Q_over65', 'c_under18pop',
       'c_under18Percent', 'c_under18Running', 'c_Q_under18', 'NAME',
       'c_laborForcePop', 'c_laborForcePercent', 'c_laborForceRunning',
       'c_Q_laborForce', 'c_checksumPop'],
      dtype='object')

,bg_label,GEO_ID,c_TotalPopulation,c_laborForcePop,c_laborForcePercent,c_laborForceRunning,c_Q_laborForce,c_Q_over65,c_Q_under18
312,CT:013906 bg:2,1500000US120310139062,756,126,0.166667,756,1,5,1
502,CT:002501 bg:3,1500000US120310025013,942,276,0.292994,1698,1,5,1
100,CT:016727 bg:2,1500000US120310167272,1955,586,0.299744,3653,1,5,2
442,CT:014422 bg:1,1500000US120310144221,1359,414,0.304636,5012,1,5,1
363,CT:014413 bg:3,1500000US120310144133,1920,652,0.339583,6932,1,5,3
566,CT:010503 bg:3,1500000US120310105033,2745,943,0.343534,9677,1,3,5
110,CT:013525 bg:1,1500000US120310135251,1562,584,0.373880,11239,1,5,4
139,CT:016803 bg:1,1500000US120310168031,659,251,0.380880,11898,1,5,1
284,CT:014424 bg:2,1500000US120310144242,459,175,0.381264,12357,1,3,2
491,CT:010203 bg:3,1500000US120310102033,1317,504,0.382688,13674,1,2,5
144,CT:011901 bg:3,1500000US120310119013,803,310,0.386052,14477,1,5,1
422,CT:014424 bg:3,1500000US120310144243,3338,1339,0.401138,17815,1,5,2
11,CT:011500 bg:1,1500000US120310115001,1794,728,0.405797,19609,1,4,5
580,CT:001600 bg:1,1500000US120310016001,859,366,0.426077,20468,1,3,3
54,CT:001401 bg:3,1500000US120310014013,1824,786,0.430921,22292,1,2,5
578,CT:001300 bg:1,1500000US120310013001,1343,580,0.431869,23635,1,2,4
561,CT:013728 bg:1,1500000US120310137281,583,255,0.437393,24218,1,5,1
304,CT:010203 bg:2,1500000US120310102032,1423,626,0.439916,25641,1,1,5
49,CT:016001 bg:2,1500000US120310160012,614,271,0.441368,26255,1,5,1
394,CT:014331 bg:1,1500000US120310143311,395,175,0.443038,26650,1,5,1

### TODO & next steps

* Sanity check the calculations and process
* Add in percentages on quintile-boundaries (q-boundaries)
* smooth the q-boundaries to whole number percents